:root
{
  --couleurPrincipal : #87A2FB;
  --couleurSecondaire : #A8A4CE;
  --couleurtertiaire : #4b4a49;
  --couleurquaternaire : #EAEAEA;
}

html{
  height: 100%;
}

*{
  box-sizing: border-box;
}

h1{
  font-size: 3em;
  padding: 10px;
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  color: var(--couleurtertiaire);
}

p{
  color: var(--couleurtertiaire);
}

body{
  background-color: var(--couleurquaternaire); 
  margin : 0;
  height: 100%;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}

header{
  background-color: var(--couleurPrincipal);
}

section{
  flex-grow: 1;
}

footer{
  background-color: var(--couleurSecondaire);
  padding : 15px;
  text-align: center;
}

.motFflex{
  display: flex; 
  flex-direction: row; 
  align-items : center ;
}

.flexbox{
  display: flex; 
  flex-direction: column; 
  align-items : center ;
}

.custom-btn {
  width: 400px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

  .btn {
  background: #b621fe;
  border: none;
  z-index: 1;
}
  .btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
  .btn:hover {
  color: #fff;
}
  .btn:hover:after {
  left: 0;
  width: 100%;
}
  .btn:active {
  top: 2px;
}